body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator{
    width: 455px;
    background-color: black;
    border-radius: 40px;
    padding: 25px 20px;
    margin: 80px auto;
    color: #fff;
    display: block;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    font-size: 88px;
    padding: 0 25px 10px 25px;
    box-sizing: border-box;
    background: linear-gradient(180ded, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0) 100%);
    border-radius: 30px;
    letter-spacing: 1px;
    text-align: right;
}   

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 100%;
}

button{
    height: 80px;
    width: 80px;
    font-size: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #333;
}

button:hover{
    filter: brightness(1.1);
}

button.orange{
    background-color: #f79c0e;
    color: #000;
}

button.light-gray{
    background-color: #a5a5a5;
    color: #000;
}

button.zero{
    grid-column: span 2;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 35px;
    width: 100%;
    height: 80px;
    font-size: 32px;
    box-sizing: border-box;
}

button:active{
    transform: scale(0.97);
    filter: brightness(0.8);
}

@media (max-width: 400px){
    .calculator{
        width: 90%;
        padding: 20px 15px;
    }

    .display{
        font-size: 50px;
        padding: 15px 8px 20px;
    }

    button{
        height: 60px;
        width: 60px;
        font-size: 24px;
    }

    button.zero{
        padding-left: 20px;
    }
}